body{
    font-family: Georgia, serif;
    margin-bottom: 0;
}

@-webkit-keyframes name_expand{
    from {
      font-size: 150%;
    }
    to {
      font-size: 200%;
    }
}
  
  @keyframes name_expand{
    from {
        font-size: 150%;
    }
    to {
        font-size: 200%;
    }
}

/* footer styling */

footer{
    position: relative;
    bottom: 0px;
    left: 0px;
    background-color: #d2e2ee;
    height: 75px;
}

.footer-link{
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}

 footer .footer-icon{
    padding: 10px;
    color: #535353;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    
}

footer p{
    display: inline-block;
    color: #535353;
    position: relative;
    top: -7px;
    left: 20px;
}



/* Front page styling*/
#dining-types{
    color: #000000;
    padding: 10px 10px 10px 0px;
    text-transform: uppercase;
}

#main-content{
    background-image: url(../images/swt.jpg);
    /* Photo courtesy of Candy Nation...link: https://www.candynation.com/fralingers-salt-water-taffy-candy */
    background-attachment: fixed; /* Parallax effect */     
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */
}

.home-content{
    background-color: #ffffff;
    color: #535353;
}

.one{
    margin-bottom: 50%;
    padding: 10px;
    line-height: 20px;
}

.two{
    margin-top: 50%;
    padding: 10px;
    line-height: 20px;
}



/* top restaurants styling */
.restaurant-img{
    display: none;
}

.restaurant-intro{
    line-height: 20px;
    color: #535353;
    padding: 10px;
}

#top{
    font-size: 200%;
    margin: 10px 10px 0px 0px;
    padding: 10px;
    animation-name: name_expand;
    animation-duration: 2s;
}

.name{
    color: #000000;
    font-size: 115%;
}

#restaurants{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
}

.restaurant{
    border: 2px solid #d2e2ee;
    padding: 10px;
    border-radius: 10px;
}

.restaurant h3{
    font-size: 90%;
}

.restaurant p, h3{
    color: #535353;
}

.restaurant p{
    line-height: 20px;
}


/* top heading styling */
#main-title{
    font-size: 250%;
    text-align: center;
    background-color: #d2e2ee;
    color: #535353;
    padding: 10px;
}



/* top picture styling */
figure, #boardwalk{
    margin: 0px;
    margin-right: 5px;
    margin-left: 5px;
    border: 2px solid #cacaca;
    border-radius: 10px;
    padding: 5px;
}

.razza-heading{
    width: 100%;
    display: block;
    margin: 0 auto;
}

.Atlantic-City{
    width: 100%;
    display: block;
    margin: 0 auto;
} 

figcaption{
    text-align: center;
    color: #535353;
    font-size: 90%;
    padding: 5px;
}



/* Jump to content styling */

.jump{
    text-decoration: none;
    color: #535353;
    background-color: #d2e2ee;
    border: 1px solid #cacaca;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    width: fit-content;
    z-index: 1;
}

.jump:active{
    background-color: #cacaca;
    color: #535353;
    border: 2px solid #d2e2ee;
}

.jump:hover{
    background-color: #cacaca;
    color: #535353;
    border: 2px solid #d2e2ee;
}



/* Gallery styling */

#gallery-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
    justify-items: center;
}

#gallery-content img{
    width: 300px;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    border: 2px solid #d2e2ee;  
}

.gallery-heading{
    font-size: 200%;
    margin: 10px 10px 0px 0px;
    padding: 10px;
    animation-name: name_expand;
    animation-duration: 2s;
}



/* Nav Bar styling */
/* The layout was taken from W3Schools example, I changed the colors used and added borders */

.nav {
    overflow: hidden;
    background-color: #ffffff;
    position: relative;
  }
  
  .nav #links {
    display: none;
  }
  
  .nav a {
    color: #535353;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .nav a.icon {
    background: #d2e2ee;
    border: 2px solid #ffffff;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .nav a:hover {
    background-color: #d2e2ee;
    color: black;
  }
  
  .active {
    background-color: #d2e2ee;
    color: #ffffff;
  }

  nav{
    width: 100%;
  }

  #menu-title{
      display: flex;
      justify-content: flex-end;
      margin-right: 50px;
      text-transform: uppercase;
  }